torchvision
torch
thop
basicsr
facexlib
gfpgan
opencv-python
gfpgan
pandas
seaborn
flask
numpy
opencv-python
certifi
chardet
click
cmake
decorator
dlib
face-recognition
face-recognition-models
idna
imageio
imageio-ffmpeg
moviepy
Pillow
proglog
requests
tqdm
urllib3
wincertstore
torchvision==0.10.1
torch==1.9.1